<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <link rel="shortcut icon" href="../assets/icons/desk.png" type="image/png">
    <title>Portfolio | Vishal</title>
</head>
<body>
    <div class="container">
        <header class="flex just-btwn">
            <div class="brandlogo"><span>P</span>ortfolio</div>
            <nav>
                <a href="#about" class="active">About</a>
                <a href="#Project">Project</a>
                <a href="#Contact">Contact</a>
            </nav>
        </header>
        <section class="hero flex just-arnd align-cntr">
            <div class="leftpart">
                <h2 class="title">Hi, my name is <span>Vishal Kumar Singh.</span></h2>
                <h3 class="disc">An Innovative Web Developer with a marketing background specializing in Github & Webflow.</h3>
                <button><a href="https://github.com/vishalvscod" target="-blank">Github</a></button>
                <button><a href="#">LINKDIN</a></button>
                <button><a href="#">DOWNLOAD CV</a></button>
            </div>
            <div class="rightpart align-cntr">
                <img src="../assets/img/WhatsApp Image 2023-07-18 at 22.18.42-modified.png" alt="img.profile" class="profilepic"/>
            </div>
        </section>
        <main >
            <h1 id="about">About</h1>
            <section class="about flex">
                
                <div class="discription">
                    <h3>Web Development</h3>
                    <p>Need help with Developing and Desgning things Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="discription">
                    <h3>GitHub</h3>
                    <p>Need help with Developing and Desgning things Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="discription">
                    <h3>Webflow and Setup</h3>
                    <p>Need help with Developing and Desgning things Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </section>
        
            <section class="Skills">
                <h1 id="skills">My Skills & Tools</h1>
                <div class="skillicons">
                    <img class="iconss" src="../assets/img/image 29.png" alt="skilliconss" />
                    <img class="iconss"src="../assets/img/image 30.png" alt="skilliconss" />
                    <img class="iconss" src="../assets/img/image 35.png" alt="skilliconss" />
                    <img class="iconss" src="../assets/img/github.png" alt="skilliconss" />
                    <img class="iconss" src="../assets/img/image 33.png" alt="skilliconss" />
                    <img class="iconss" src="../assets/img/image 37.png" alt="skilliconss" />
                    <img class="iconss" src="../assets/img/Portfolio-Logo 1.png" alt="skilliconss" />
                    <img class="iconss" src="../assets/img/github.png" alt="skilliconss" />
                    <img class="iconss" src="../assets/img/linkedin.png" alt="skilliconss" />
                </div>
            </section>
            <section class="projects">
                <div class="project-head"><h1 id="skills">My Projects</h1></div>
                <div class="project-item flex align-cntr">
                    <div class="project-disc">
                        
                     <h2>Twitter Clone</h2>
                     <p>Project Description: A convenient and fun way to browse featured clothing &amp; accessories from some of the best clothing brands online, especially aimed at teenagers. With this web app, you can browse products by any color you like or by trending colors, save products into favorites, and share products with friends on social media.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                     <div class="proj-des-detail">
                        <span><h2>Skills Used:</h2></span>Frontend: React &amp; Redux || Backend: Django API
                        <h2>Test Login Account</h2> 
                        <span>Username :test@gamil.com</span> 
                        <p>Password :123</p>
                     </div>
                     <div class="btn">
                        <button><a href="#">Website Link</a></button>
                        <button><a href="#">GitHub Link</a></button>
                     </div>
                     </div>
                        <div class="project-scst">
                            <img src="../assets/img/image 47.png" alt="pro-1" class="proj-pic">
                        </div>
                   
                    </div>
                <div class="project-item flex align-cntr">
                    <div class="project-disc">
                        
                    <h2>Twitter Clone</h2>
                    <p>Project Description: A convenient and fun way to browse featured clothing &amp; accessories from some of the best clothing brands online, especially aimed at teenagers. With this web app, you can browse products by any color you like or by trending colors, save products into favorites, and share products with friends on social media.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="proj-des-detail">
                        <span><h2>Skills Used:</h2></span>Frontend: React &amp; Redux || Backend: Django API
                        <h2>Test Login Account</h2> 
                        <span>Username :test@gamil.com</span> 
                        <p>Password :123</p>
                    </div>
                    <div class="btn">
                        <button><a href="#">Website Link</a></button>
                        <button><a href="#">GitHub Link</a></button>
                    </div>
                    </div>
                    <div class="project-scst">
                            <img src="../assets/img/image 48.png" alt="pro-1" class="proj-pic">
                    </div>
                </div>
                <div class="project-item flex align-cntr">
                    <div class="project-disc">
                        
                    <h2>Twitter Clone</h2>
                    <p>Project Description: A convenient and fun way to browse featured clothing &amp; accessories from some of the best clothing brands online, especially aimed at teenagers. With this web app, you can browse products by any color you like or by trending colors, save products into favorites, and share products with friends on social media.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="proj-des-detail">
                        <span><h2>Skills Used:</h2></span>Frontend: React &amp; Redux || Backend: Django API
                        <h2>Test Login Account</h2> 
                        <span>Username :test@gamil.com</span> 
                        <p>Password :123</p>
                    </div>
                    <div class="btn">
                        <button><a href="#">Website Link</a></button>
                        <button><a href="#">GitHub Link</a></button>
                    </div>
                    </div>
                    <div class="project-scst">
                            <img src="../assets/img/Screenshot 2022-07-12 at 3.44 1.png" alt="pro-1" class="proj-pic">
                    </div>
                </div>
            </section>
        </main >
        <footer id="contact" >
            <h1>Hope you found my portfolio interesting!</h1>
            <p>You can reach me at: <a id="email" href="https://mail.google.com/mail/u/0/?ogbl#inbox" target="__blank">vishalrajputana870@gmail.com</a></p>
            <hr>
            <hr>
            <div class="social-icons">
                <a href="https://github.com/vishalvscod"><img src="../assets/img/github.png" alt="" class="git"></a>
                <a href="#"><img src="../assets/img/linkedin.png" alt="" class="link"></a>
            </div>
            <p id="copy">Vishal Portfolio -  © 2023 All Rights Reserved</p>
        </footer>
    </div>
</body>
</html>